# sudo systemctl enable /home/humberto/llamascripts/services/llamaserver.service

[Unit]
Description=Llama.cpp Server
After=network.target

[Service]
Type=exec
ExecStart=/home/humberto/llamacpp/build/bin/llama-server \
  --models-preset /home/humberto/llamascripts/services/llamaserver-models.ini \
  --models-max 1 \
  --port 9081 \
  --host 192.168.1.15 \
  --log-verbosity 3 \
  --log-colors off \
  --metrics
#ExecStartPost=/bin/sleep 10
ExecStartPost=/usr/bin/curl --retry 20 --retry-delay 2 --retry-connrefused -X POST http://192.168.1.15:9081/models/load -H "Content-Type: application/json" -d '{"model": "qwen3.6-35B"}'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target